.center {
  text-align: center;
}

/* HOMEPAGE */

.jumbotron {
  margin-top: 50px;
}

/* LOBBY */

.lobby-title {
  margin-bottom: 25px;
  text-align: center
}

.room-code, .word-to-guess {
  font-family: Courier New;
}

.word-to-guess {
  font-size: 96px;
}

.share-link {
  margin-top: 50px;
}

/* GAME */

.player-view {
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
}

.player-view.active {
  background-color: #666;
}

.lobby-container {
  margin-top: 50px;
}

.rules-modal-body {
  max-height: 400px;
  overflow-y: auto;
}
